# Puerto para la API
PORT=4000

# Credenciales de la Base de Datos (las mismas que en docker-compose.yml)
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=CHANGE_ME_YOUR_STRONG_PASSWORD
DB_NAME=cuadre_caja_db

# Valores de negocio (pueden ser ajustados)
DEFAULT_BCV_RATE=36.5
IVA_RATE=0.16 # 16%

BCV_API_BASE=https://bcv.minetsystem.com/api/bcv

JWT_SECRET=CHANGE_ME_GENERATE_A_RANDOM_SECRET

# --- GIE-APP API Config ---
GIE_API_HOST=http://host.docker.internal:4002
GIE_CLIENT_ID=pos_cuadre
GIE_CLIENT_SECRET=CHANGE_ME_YOUR_SECRET
